<div th:fragment="nav">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item" id="myDay">
                    <a class="nav-link active" aria-current="page" href="myDay">
                        My day
                    </a>
                </li>
                <li class="nav-item" id="important">
                    <a class="nav-link" href="important">
                        Important
                    </a>
                </li>
                <li class="nav-item" id="planned">
                    <a class="nav-link" href="planned">
                        Planned
                    </a>
                </li>
                <li class="nav-item" id="tasks">
                    <a class="nav-link" href="tasks">
                        Tasks
                    </a>
                </li>
            </ul>

            <h6 id="createList" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Create list</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </a>
            </h6>
        </div>
    </nav>
    <style>
        nav#sidebarMenu
        {
        float:left;
        width:15%;
        height:100%;
        min-height:250px;
        background-color:#F0F8FF;
        border-right: 1px #CDCDCD solid;
        }
        a.nav-link
        {
        color:#696969;
        border-bottom: 1px #CDCDCD solid;
        }
        h6#createList
        {
        height:50px;
        }
        @media (max-width: 767px)
        {
            input#navbarSearch
            {
            width:50%;
            }
        }
    </style>
</div>